@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=WindSong&display=swap');



html {
    scroll-behavior: smooth;
}



.navbar-brand img{
    width: 40px;
    object-fit: cover;
    
}

.zoom{
    overflow: hidden;
}

.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3;
    -webkit-transition: all 0.3;
    transition: all 0.3;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1sss);
}

.card{
    position: relative;
    overflow: hidden;
}
.card::before{
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgba(235, 53, 131);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;

}
.card:hover:before{
    left: 10%;

}
.card img {
    width: 100%;
    height: auto;
}
.card-text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1.1s;

}
.card-text h3{
    font-family: poppins;
    
}
.card:hover .card-text{
    top: 80px;
}

.forma {
    top: 3622px;
    left: 396px;
    width: 1128px;
    height: 454px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 7px 7px 15px #9C9C9C29;
    border-radius: 10px;
    opacity: 1;
}
.forma2{
top: 2388px;
left: 61px;
width: 1798px;
height: 825px;
background: #FBFBFB 0% 0% no-repeat padding-box;
opacity: 1;
}
.forma3{
    
    background-image: url("Fotos/Caminho\ 21.svg");
    left: 10px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 825px;
    max-width: 1440px;
    image-rendering: auto;
}
.whats{
top: 3542px;
left: 881px;
width: 156px;
height: 50px;
background: #FBFBFB 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 10px;
}